@using OrderInterface.Models;
@model Order_
@{
    ViewBag.Title = "Index";
}


<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Order List</h5>
            <div class="">
                <h6 class="danger">@ViewBag.message</h6>
                <form action="/Product/GetProductByBarcode" method="post" role="form">
                    <h6 class="danger">@ViewBag.WrongBarcode</h6>
                    <label for="fname">Enter Barcode:</label><br>
                    <input type="text" id="Barcode" name="Barcode"><br>
                    <input type="hidden" name="OrderID" value="@Model.OrderID">
                </form>
                <h4>OR</h4>
                <form action="/ProductOrder/AddProduct" method="post" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <h6 class="danger">@ViewBag.EmptySelection</h6>
                            <select class="form-control" name="ProductID">
                                <option value="0">Select a product</option>
                                @foreach (Product item in ViewBag.AllProducts)
                                {
                                    <option value="@item.ProductID">@item.PName</option>

                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="hidden" name="OrderID" value="@Model.OrderID">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-right">
                            <button type="submit" class="btn btn-info">Add To List</button>
                        </div>
                    </div>

                </form>

                <div style="float:right;">

                    <input id=demoInput type=number min=1 max=20>
                    <button onclick="increment()">+</button>
                    <button onclick="decrement()">-</button>
                </div>
            </div>
            <div class="table-responsive text-nowrap" style="overflow-y:auto;">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th>IN CART</th>
                            <th>PRICE $</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                            <th>..</th>
                        </tr>

                    </thead>
                    <tbody class="table-border-bottom-0">


                        @foreach (OrderInfoByProducts item in ViewBag.OrderInfo)
                        {
                            <tr class="table-default">
                                <td><i class="fab fa-sketch fa-lg text-warning me-3"></i> <strong> @item.PName</strong></td>
                                <td> @item.Price</td>
                                <td>1</td>
                                <td><span class="badge bg-label-primary me-1"></span>@item.Price</td>
                                <td><a href="/ProductOrder/DeleteProduct/@item.ProductOrderID" class="btn btn-danger rounded">Delete</a></td>
                            </tr>

                        }
                        
                    </tbody>

                </table>
                <h4 class="text-primary">  Total      @ViewBag.TotalPrice</h4>
            </div>
        </div>
        <a class="btn btn-success fa-align-right" href="/Order/IssueOrder">Submit</a>

    </div>
</div>